
<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>Image:</strong>
<%= image_tag @blog.image_url, class:'show_image' if @blog.image.present?  %>
</p>
<h3>Comments</h3>
<% @comments.each do |comment| %>
  <div>
    <strong><%= comment.user_id %></strong>
    <br>
    <p><%= comment.suggest %></p>
    <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
  <% unless @blog.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'Not a favorite', favorite_path(id: @favorite.id), method: :delete, class:'btn btn-danger' %>
  <% else %>
    <%= link_to 'Favorite', favorites_path(blog_id: @blog.id), method: :blog, class:'btn btn-primary'%>
  <% end %>
  <% end %>
<% end %>
<%= render partial: 'comments/form', locals: { comment: @comment } %>
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
