<h1 class="bg-info text-center main-header">お気に入り一覧</h1>
<div class="container">
  <div class="favorite-contents flexbox-space-around-wrap">
    <% @favorites.each do |favorite| %>
      <ul id="favorite-btn-<%= favorite.blog.id %>" class="list-group favorite-content">
        <div class="list-inline text-center favorite-items">
          <li><%= image_tag favorite.user.icon.variant(gravity: 'Center', resize: '40x40'), class:'img-circle' if favorite.user.icon.attached? %></li>
          <li><%= favorite.user.name %></li>
          <% unless favorite.blog.prefecture == '--未選択--' %>
            <li><%= favorite.blog.prefecture %></li>
          <% end %>
          <% if favorite.blog.islands.present? %>
            <% favorite.blog.islands.each do |island|%>
              <li><%= link_to island.name, blogs_path(island.id, search_island: "true"), class: 'label label-primary' %></li>
            <% end %>
          <% end %>
        </div>
        <li class="list-group-item">
          <%= link_to favorite.blog.image, "data-lightbox": "favorite-image" do %>
            <%= image_tag favorite.blog.image.variant(gravity: 'Center', resize: '300x400'), class:'main-image' if favorite.blog.image.attached? %>
          <% end %>
        </li>
        <li class="list-group-item"><%= favorite.blog.content %></li>
        <li class="list-group-item">
          <%= render partial: 'favorites/favorite', locals: { blog: favorite.blog } %>
        </li>
      </ul>
    <% end %>
  </div>
</div>
