<!DOCTYPE html>
<html>
  <head>
    <title>Sunrise Sports</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <ul>
        <li><a href="#">Sunrise Sports</a></li>
        <li><a href="#">Daily Football News</a></li>
      </ul>
    </header>
    <%= yield %>
    <footer>
      <p>Your No.1 Football  news blog!!</p>
          </footer>
  </body>
</html>
